*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(14, 55, 58);
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.second{
    display: flex;
    justify-content: space-between;
    padding: 25px 10px;
    letter-spacing: 1px;
    align-items: center;
    line-height: 27px;
    margin: 20px 0px 40px 0px;
}
.g1{
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0;
    letter-spacing: 1px;
}