 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1f242d;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 25px 10px;
}

.logo{
    color: #fff;
    text-decoration: none;
    font-size: 27px;
    font-weight: 600;
    cursor: default;
}

.navbar a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 0px 16px;
    font-weight: 600;
    transition: 0.3s all;
}
.navbar a:hover,
.navbar a.active{
    color: #3d07ff;
}

.mine-container{
    display: flex;
    justify-content: right;
    padding: 25px 10%;
    align-items: center;
}

.info-side h3{
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0;
    letter-spacing: 1px;
}

.info-side h1{
    font-size: 65px;
    letter-spacing: 1px;
    font-weight: 700;
}

.info-side h3 span{
    color: #0ef;
}
p{
    line-height: 27px;
    margin: 20px 0px 40px 0px;
}
.mine-img{
    width: 450px;
}
i{
    position: relative;
    border: 2px solid #0ef;
    padding: 10px;
    border-radius: 50%;
    color: #0ef;
    margin: 0px 8px;
    transition: 0.3ms;
}
i:hover{
    box-shadow: 0 0 20px #0ef;
}
button{
    background-color: #0ef;
    margin-top: 50px;
    padding: 20px 70px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    transition: .3s;
    box-shadow: 0 0 15px #0ef;
}
button:hover{
    box-shadow: none;
}

